
#lamp li:nth-child(2) h4{
	height:30px;
	line-height: 5px;
	color:#99cc00;
	position: relative;
	top:25px;
}
.lampdetail{
	padding-top:30px;
}
.lampdetail ul{
	height:50px;
	border-top:1px solid #000;
	line-height: 50px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	color:#000;

}
/*#lamp li:nth-child(2) h4 p:nth-child(3){
	height:20px;
	position: relative;
	top:-10px;
}*/
.lampcolor{
	display: inline-block;
	width:25px;
	height:15px;
	background:#00f;
	
}
.lampdetail ul:nth-child(3){
	border-bottom:1px solid #000;
margin-bottom:0px;
}
.lampdetail ul img{
	margin-left:10px;
}
.lampdetail ul:nth-child(3) li span{
	width:30px;
	height:30px;
	background:#f0f;
	display: inline-block;
	position: relative;
	top:10px;
}